.linen {
background: url("http://daryapress.com/test/wp-content/uploads/2012/11/white-linen-background_web3.jpg") no-repeat center center fixed; 
/*http://daryapress.com/test/wp-content/uploads/2012/11/white-linen-background_web3.jpg*/


background-attachment: fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   
}