.backgroundImage {
background: url("http://www.china-mike.com/wp-content/uploads/2010/07/great-wall-china2.jpg") no-repeat center center fixed; 
/*http://www.china-mike.com/wp-content/uploads/2010/07/great-wall-china2.jpg*/
/*http://www.bing.com/search?q=linen+background&pc=MOZI&form=MOZLBR*/

background-attachment: fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   
}